* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.input-container {
    height: 100px;
    width: 100%;
    display: flex;
}

#search {
    height: 50px;
    width: 50%;
    border: 1px solid gray;
    border-radius: 5px;
    padding-left: 10px;
    margin: 2rem auto;
}

.gallery {
    max-width: 1000px;
    display: grid;
    margin: 0 auto;
    padding: 0 20px 50px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 200px;
    grid-gap: 25px;
    justify-items: center;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);

    }
}